nav {
    background-color: #ccc;
    padding: 12px 0;
}
nav .fixed-width {
    width: 100%;
}
nav .logo a {
    display: block;
    padding: 10px 20px;
}
nav .menu ul li {
    list-style: none;

    border-bottom: 1px solid #aaa;
    /* background-image: linear-gradient(180deg,#ccc,#bbb); */
}
nav .menu ul li a {
    display: block;
    padding: 10px 20px;
}
@media screen and (min-width: 760px){
    nav .logo {
        float: left;
    }

    nav .menu {
        float: right;
    }

    nav .menu ul li {
        float: left;

        border-bottom: 0;
    }

    nav .menu ul li a {
        transition: all .3s;
        position: relative;
    }
    nav .menu ul li a::after {
        content: "";
        display: block;
        /* width: 0; */
        width: 60%;
        transform: scaleX(0);
        border-bottom: 1px solid #000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        transition: all .3s;
    }
    nav .menu ul li a:hover::after {
        /* width: 50%; */
        transform: scaleX(1);

        
    }
    nav .menu ul li a:hover {

    }
}